.container {
  display: grid;
  grid-template: repeat(4, 2fr) / repeat(12, 1fr);
  grid-template-areas:
    ". h h h h h h h h h h h"
	"m c c c c c c c c c c c"
	"m c c c c c c c c c c c"
	"m c c c c c c c c c c c"
	"m c c c c c c c c c c c"
	"m c c c c c c c c c c c"
	"m c c c c c c c c c c c"
	". f f f f f f f f f f f";
  grid-gap: 5px;
}

.header {
  // grid-column: 2 / -1;
  grid-area: h;
}

.menu {
 // grid-column: 1 / 3;
 // grid-rows: 1 / 4;
 grid-area: m;
}

.content {
  // grid-column: 1 / -1;
  grid-area: c;
}

.footer {
  //  grid-column: 1 / -1;
  grid-area: f;
}
